@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap&#39;");
/*
@include flexContent;
@include flexContent(column);
@include flexContent(column,center,flex-end);

//@mixin directionColumn{} */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main,
main > section {
  display: flex;
  flex-direction: column;
}

main > section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a {
  cursor: pointer;
}

.title-page {
  display: none;
}

details {
  display: none;
}

@media (min-width: 200px) {
  nav {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  nav > section {
    background-color: white;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5vh;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 6;
  }
  nav > article {
    display: flex;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  nav i {
    font-size: 60px;
  }
  nav h1 {
    width: 40%;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
  }
  header {
    position: relative;
    height: 50vh;
  }
  header article {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    row-gap: 4vh;
  }
  header article > aside {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    row-gap: 2vh;
  }
  header p {
    font-size: 14px;
  }
  header h1 {
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    font-size: 50px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .features {
    color: #5F5F5F;
    padding: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    row-gap: 5vh;
  }
  .features > section {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }
  .features article {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    row-gap: 0;
  }
  .features aside {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 3vh;
  }
  .features h3 {
    font-size: 28px;
  }
  .features i {
    font-weight: 700;
    font-size: 76px;
  }
  .activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 5vh;
  }
  .activities > article {
    height: 20vh;
    width: 90%;
    background-image: url("/img/pic-04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .activities aside {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(50, 50, 50, 0.8);
  }
  .activities > section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 3vh;
  }
  .activities figure {
    padding: 5%;
    width: 90%;
    border: 1px solid #909090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 2vh;
  }
  .activities figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    line-height: 1.5;
    width: 85%;
  }
  .activities img {
    width: 30vh;
    height: 30vh;
  }
  .activities h2 {
    font-size: 28px;
  }
  .activities h4 {
    color: #108AC1;
  }
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
  }
  .company img {
    width: 100%;
  }
  .company > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
  }
  .company h2 {
    font-size: 36px;
    font-weight: 400;
    color: #5F5F5F;
  }
  .company figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 4vh;
    width: 80%;
    line-height: 1.5;
  }
  .company aside {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  .company a {
    border: 1px solid #5F5F5F;
    font-weight: 400;
    width: 40%;
    padding: 2%;
    font-size: 24px;
    color: #5F5F5F;
    text-decoration: none;
    text-align: center;
  }
  .company > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .company > section > article {
    display: flex;
    width: 100%;
  }
  .company p {
    line-height: 1.5;
    width: 90%;
  }
  .company article > a {
    width: 50%;
    border-bottom: 0;
  }
  .company article > a:last-child {
    background-color: gainsboro;
    transition: 0.4s;
  }
  .company article > a:last-child:hover {
    background-color: transparent;
  }
  .company article > a:last-child:hover #vision {
    display: none;
  }
  .company article > a:last-child:hover #mission {
    display: flex;
  }
  .contact {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .contact > section,
.contact form {
    display: flex;
    flex-direction: column;
  }
  .contact > section {
    align-items: center;
    row-gap: 2vh;
  }
  .contact form {
    width: 90%;
    row-gap: 2vh;
  }
  .contact h4 {
    width: 90%;
    text-align: right;
    font-size: 36px;
    font-weight: 300;
    color: #909090;
  }
  .contact aside {
    display: flex;
    justify-content: right;
  }
  .contact figure, .contact figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact figure {
    row-gap: 5vh;
  }
  .contact figcaption {
    width: 90%;
    color: #5F5F5F;
    line-height: 1.5;
  }
  .contact img {
    width: 90%;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact [type=submit] {
    font-weight: 400;
    width: 40%;
    padding: 2%;
    background-color: white;
    font-size: 24px;
    color: #5F5F5F;
  }
  #vision, #mission {
    border: 1px solid #5F5F5F;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 90%;
    padding: 5%;
  }
  #mission {
    display: none;
  }
  input,
textarea {
    border: 1px solid #909090;
    padding: 2%;
  }
  textarea {
    height: 20vh;
  }
  footer {
    padding: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    color: #5F5F5F;
  }
  footer > a {
    text-decoration: none;
    color: #5F5F5F;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 5vh;
    height: 5vh;
  }
}
@media (min-width: 600px) {
  details {
    display: none;
  }
  nav {
    padding-top: 0;
    padding-bottom: 5vh;
    height: 20vh;
    display: flex;
    row-gap: 4vh;
  }
  nav > section {
    position: fixed;
  }
  nav > article {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  nav li {
    display: flex;
    width: 10%;
  }
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding: 1%;
    width: 100%;
    text-decoration: none;
    color: #5F5F5F;
    text-align: center;
    transition: 0.4s;
  }
  nav a:hover {
    background-color: gainsboro;
    color: #108AC1;
  }
  .features {
    flex-direction: row;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  .activities > article {
    background-position: center;
  }
  .activities > section {
    width: unset;
  }
  .activities figure {
    flex-direction: row;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
    padding: 3%;
  }
  .activities img {
    width: 15vh;
    height: 15vh;
  }
  .company img {
    width: 30vh;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .company figcaption {
    row-gap: 2vh;
    align-items: flex-start;
  }
  .company figcaption a {
    font-size: 18px;
    width: 25%;
    transform: 0.4s;
  }
  .company figcaption a:hover {
    background-color: #909090;
    color: white;
  }
  .company > section > article:first-child {
    width: 90%;
  }
  .contact {
    padding-right: 10%;
  }
  .contact > section {
    align-items: flex-end;
  }
  .contact form {
    width: 50%;
  }
  .contact > figure {
    align-items: flex-end;
  }
  .contact img {
    width: 50vh;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .contact figcaption {
    width: 50vh;
  }
  [type=submit] {
    transition: 0.4s;
  }
  [type=submit]:hover {
    background-color: #909090;
    color: white;
  }
}
@media (min-width: 1000px) {
  h1 {
    margin: 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main {
    align-items: center;
  }
  nav {
    flex-direction: column;
    padding-bottom: 2%;
    padding-top: 2%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  nav > section {
    position: static;
  }
  nav > article {
    text-align: center;
  }
  nav ul {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  nav a {
    padding: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  nav h1 {
    width: 20%;
  }
  main > section {
    width: 90%;
  }
  .features {
    justify-content: space-between;
  }
  .features > section {
    width: 45%;
  }
  .features article {
    align-items: center;
  }
  .activities > article {
    height: 35vh;
  }
  .activities > section {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .activities figure {
    width: 48%;
  }
  .company {
    width: 80%;
    flex-direction: row;
  }
  .company figure {
    align-items: flex-start;
    flex-direction: row;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .company img {
    width: 45vh;
    height: 45vh;
  }
  .company > section {
    align-items: flex-end;
  }
  .company figcaption {
    width: 55%;
  }
  .company figcaption a {
    width: 40%;
  }
  .contact {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    -moz-column-gap: 15vh;
         column-gap: 15vh;
  }
  .contact > section,
.contact > figure {
    justify-content: center;
    padding: 0;
    width: 100%;
  }
  .contact form {
    width: 90%;
  }
  .contact img {
    width: 70vh;
    height: 50vh;
  }
  .contact > figure {
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */