@media (min-width: $mediaSizeTab) {
    details {
        display: none;
    }

    nav {
        padding-top: 0;
        padding-bottom: 5vh;
        height: 20vh;
        display: flex;
        row-gap: 4vh;

        > section {
            position: fixed;
        }

        > article {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 2vh;
        }

        li {
            display: flex;
            width: 10%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5vh;
            padding: 1%;
            width: 100%;
            text-decoration: none;
            color: $defaultColor;
            text-align: center;
            transition: .4s;
        }

        a:hover {
            background-color: gainsboro;
            color: $defaultBlue;
        }
    }

    .features {
        flex-direction: row;
        column-gap: 5vh;
    }

    .activities {

        > article {
            background-position: center;
        }

        > section {
            width: unset;
        }
        
        figure {
            flex-direction: row;
            column-gap: 3vh;
            padding: 3%;
        }

        img {
            width: 15vh;
            height: 15vh;
        }


    }

    .company {
        img {
            width: 30vh;
            height: 30vh;
            object-fit: cover;
        }

        figcaption {
            row-gap: 2vh;
            align-items: flex-start;

            a {
                font-size: 18px;
                width: 25%;
                transform: .4s;

                &:hover {
                    background-color: $defaultGray;
                    color: white;
                }
            }
        }

        > section {

            > article:first-child {
                width: 90%;
            }
        }
    }

    .contact {

        padding-right: 10%;

        > section {
            align-items: flex-end;
        }

        form {
            width: 50%;
        }

        > figure {
            align-items: flex-end;
        }

        img {
            width: 50vh;
            height: 30vh;
            object-fit: cover;
            object-position: top;
        }

        figcaption {
            width: 50vh;
        }
    }

    [type="submit"] {
        transition: .4s;

        &:hover {
            background-color: $defaultGray;
            color: white;
        }
    }
}